{% extends "base.html" %}

{% block content %}

<div id="background">
    <div id="top">
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
        <span></span>
        </label>
        <ul class="menu__box">
            <li><a class="menu__item" href="{% url 'index' %}">Accueil</a></li>
            <li><a class="menu__item" href="{% url 'offerList' %}">Annonces</a></li>
            <li><a class="menu__item" href="{% url 'offerAdd' %}">Ajouter une annonce</a></li>
            <li><a class="menu__item" href="{% url 'plantList' %}">Plantes</a></li>
            <li><a class="menu__item" href="{% url 'userDetail' 1 %}">Mon profil</a></li>
            <li><a class="menu__item" href="{% url 'login' %}">Se déconnecter</a></li>
        </ul>
    </div>
</div>

<header class="region">
    <div class="wrapper" data-size="narrow">
        <h1>A'RO<b style="color:#B5E245">SA-JE</b></h1>
    </div>
</header>

<div class="wrapper" data-size="narrow">
<input type="text" id="searchbar" onkeyup="myFunction()" placeholder="Que recherchez-vous ?">
</div>

<article class="region">
    <div class="wrapper" data-size="narrow">
        <h1>Annonces</h1>
        <ul id="myUL" class="border">
            {% for offer in offers %}
            <li>
                <div>
                    <a href="/annonce/{{ offer.id }}">Annonce {{ offer.id }}<br>
                    <img src="https://bergamotte.imgix.net/d4jcklq9l7b2nthf026antzn92ea?ixlib=rails-4.2.0&auto=format%2Ccompress&fit=crop&q=65&ar=528%3A660" class="img-li-offer">
                    <p>Nom : {{ offer.name }}</p>
                    <p>Date : {{ offer.date }}</p>
                    <p>Description : {{ offer.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'offerList' %}">Voir plus d'annonces...</a>
    </div>
    <br>
    <div class="wrapper" data-size="narrow">
        <h1>Plantes</h1>
        <ul id="myUL" class="border">
            {% for plant in plants %}
                <li><a href="/plante/{{plant.id}}">{{ plant.name }}<br><img src="{{plant.thumbnail}}" width="150" height="150"></a></li>
            {% endfor %}
        <a href="{% url 'plantList' %}">Voir plus de plantes...</a>
    </div>
</article>

<!--
<h1>Arosaje homepage</h1>
    <ul>
        <li><a href="{% url 'login' %}">login</a></li>
        <li><a href="{% url 'offerList' %}">offerList</a></li>
        <li><a href="{% url 'offerDetail' 1 %}">offerDetail</a></li>
        <li><a href="{% url 'plantList' %}">plantList</a></li>
        <li><a href="{% url 'plantDetail' 1 %}">plantDetail</a></li>
        <li><a href="{% url 'userDetail' 1 %}">userDetail</a></li>
        <li><a href="{% url 'offerAdd' %}">offerAdd</a></li>
    </ul>
    <input type="file" accept="image/x-png,image/jpeg,image/gif"/>
-->
    
<script>
    $('.menu-burger, .menu-items').on('click', function() {
        $('.menu-bg, .menu-items, .menu-burger').toggleClass('fs');
        $('.menu-burger').text() == "☰" ? $('.menu-burger').text('✕') : $('.menu-burger').text('☰');
    });

    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('searchbar');
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
            } else {
            li[i].style.display = "none";
            }
        }
    }
</script>

{% endblock %}