{% extends "base.html" %}

{% block content %}

<div id="background">
    <div id="top">
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
        <span></span>
        </label>
        <ul class="menu__box">
            <li><a class="menu__item" href="{% url 'index' %}">Accueil</a></li>
            <li><a class="menu__item" href="{% url 'offerList' %}">Annonces</a></li>
            <li><a class="menu__item" href="{% url 'offerAdd' %}">Ajouter une annonce</a></li>
            <li><a class="menu__item" href="{% url 'plantList' %}">Plantes</a></li>
            <li><a class="menu__item" href="{% url 'userDetail' 1 %}">Mon profil</a></li>
            <li><a class="menu__item" href="{% url 'login' %}">Se déconnecter</a></li>
        </ul>
    </div>
</div>

<br><br>

<div>A'RO<b style="color:#B5E245">SA-JE</b></div>

<br><br>

<h1>Profil de plante</h1>
<a><img src="{{ plante.thumbnail}}" width="100" height="100"> {{plante.name}}</a>
<p>{{plante.description}}</p>

<br><br>

<h2>Conseils d'entretien</h2>
{% if advices %}
    {% for advice in advices %}
    <div>
        <p>{{ advice.content }}</p>
        <p>{{ advice.poster.username}}, {{ advice.date }}</p>
    </div>
    <br><br>
    {% endfor %}
{% else %}
    <p>Aucun conseils</p>
{% endif %}
{% endblock %}